<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button >

      </ion-back-button>
    </ion-buttons>
    <ion-title>{{'TITOLO_PRENOTA' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form align-items-center margin="medium" [formGroup]="bookFormModule">

    <ion-item margin-bottom class="animated fadeInUp">
      <ion-select placeholder="{{'PLACEHOLDER_NUM_PERSONE' | translate}}" formControlName="posti">
        <ion-select-option *ngFor="let number of numbers">{{number}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item margin-bottom class="animated fadeInUp">
      <ion-datetime placeholder="{{'PLACEHOLDER_GIORNO' | translate}}" (ionChange)="aggiornaGiorno()" formControlName="data"></ion-datetime>
    </ion-item>

    <ion-item margin-bottom class="animated fadeInUp">
      <ion-select placeholder="{{'PLACEHOLDER_ORARIO' | translate}}" [disabled]="!bookFormModule.get('data').valid" formControlName="orario">
        <ion-select-option *ngFor="let orario of orari">{{orario}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item margin-bottom class="animated fadeInUp">
      <ion-input placeholder="{{'PLACEHOLDER_NOME_PRENOTAZIONE' | translate}}" formControlName="nome">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-select placeholder="{{'PLACEHOLDER_USA_PUNTI' | translate}}" formControlName="punti">
        <ion-select-option>Si</ion-select-option>
        <ion-select-option>No</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button class="button3" size="medium" expand="full" shape="round" color="primary" (click)="onBookSubmit()" [disabled]="!bookFormModule.valid" tappable>
      <ion-label>{{'BOTTONE_PRENOTA' | translate}}</ion-label>
    </ion-button>
  </form>

</ion-content>
