<ion-header no-border no-shadow>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="secondary">

      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="infoUsaPunti()">
        <ion-icon slot="icon-only" name="ios-information-circle" color="tertiary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form class="ion-align-items-center" margin="medium" [formGroup]="bookFormModule">

    <ion-item class="ion-margin-bottom animated fadeInUp">
      <ion-label>{{'PLACEHOLDER_NUM_PERSONE' | translate}}</ion-label>
      <ion-select  formControlName="posti">
        <ion-select-option *ngFor="let number of numbers">{{number}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="ion-margin-bottom animated fadeInUp">
      <ion-label>{{'PLACEHOLDER_GIORNO' | translate}}</ion-label>
      <ion-datetime min="{{currentDate | date:'yyyy-MM-dd'}}" max="2020" (ionChange)="aggiornaGiorno()" formControlName="data"></ion-datetime>
    </ion-item>

    <ion-item *ngIf="bookFormModule != null" class="ion-margin-bottom animated fadeInUp">
      <ion-label>{{'PLACEHOLDER_ORARIO' | translate}}</ion-label>
      <ion-select [disabled]="!(bookFormModule.get('data').valid) || isChiuso" formControlName="orario">
        <ion-select-option *ngFor="let orario of orari">{{orario}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="ion-margin-bottom animated fadeInUp">
      <ion-label>{{'PLACEHOLDER_NOME_PRENOTAZIONE' | translate}}</ion-label>
      <ion-input style="text-align: right" formControlName="nome">
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom animated fadeInUp">
      <ion-label>{{'PLACEHOLDER_USA_PUNTI' | translate}}</ion-label>
      <ion-select [disabled]="utente.punti<1000" formControlName="punti" value="No">
        <ion-select-option value="Si">Si</ion-select-option>
        <ion-select-option value="No">No</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-label class="ion-margin" style="font-style: italic" color="tertiary">Questa prenotazione ti farà acquisire 100 punti</ion-label>

    <ion-button class="button3 ion-tappable" size="medium" expand="full" shape="round"
                color="primary" (click)="onBookSubmit()" [disabled]="!bookFormModule.valid">
      <ion-label>{{'BOTTONE_PRENOTA' | translate}}</ion-label>
    </ion-button>
  </form>

</ion-content>
