<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start">

      </ion-back-button>
    </ion-buttons>
    <ion-title>Registrati</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form align-items-center margin="medium" [formGroup]="registerFormModule">

    <ion-item lines="none" class="add-photo">
      <ion-img  src="assets/images/add-photo.png">

      </ion-img>
    </ion-item>
    <ion-item class="animated fadeInUp">
      <ion-input color="secondary" placeholder="nome" formControlName="nome"></ion-input>
    </ion-item>

    <ion-item class="animated fadeInUp">
      <ion-input color="secondary" placeholder="cognome" formControlName="cognome"></ion-input>
    </ion-item>

    <ion-item class="animated fadeInUp">
      <ion-input color="secondary" type="email" placeholder="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item class="animated fadeInUp">
      <ion-input color="secondary" type="password" placeholder="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-item class="animated fadeInUp">
      <ion-input color="secondary" type="number" placeholder="telefono" formControlName="telefono"></ion-input>
    </ion-item>

    <ion-item class="animated fadeInUp">
      <ion-datetime placeholder="data di nascita" formControlName="data"></ion-datetime>
    </ion-item>

    <ion-item class="animated fadeInUp">
      <ion-select formControlName="sesso">
        <ion-select-option>
          M
        </ion-select-option>
        <ion-select-option>
          F
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button class="button3" expand="full" shape="round" color="primary" (click)="onRegister()" [disabled]="!registerFormModule.valid" tappable>
      <ion-icon name="person-add"></ion-icon>
      <ion-label>Registrati</ion-label>
    </ion-button>

  </form>


</ion-content>
