<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button >

      </ion-back-button>
    </ion-buttons>
    <ion-title>{{'TITOLO_REGISTRATI' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form align-items-center margin="medium" [formGroup]="registerFormModule">

    <ion-item lines="none" class="add-photo">
      <ion-img  src="assets/images/add-photo.png">

      </ion-img>
    </ion-item>
    <ion-item class="animated fadeInUp">
      <ion-input color="secondary" placeholder="{{'PLACEHOLDER_NOME' | translate}}" formControlName="nome"></ion-input>
    </ion-item>

    <ion-item class="animated fadeInUp">
      <ion-input color="secondary" placeholder="{{'PLACEHOLDER_COGNOME' | translate}}" formControlName="cognome"></ion-input>
    </ion-item>

    <ion-item class="animated fadeInUp">
      <ion-input color="secondary" placeholder="{{'PLACEHOLDER_USERNAME' | translate}}" formControlName="username"></ion-input>
    </ion-item>

    <ion-item class="animated fadeInUp">
      <ion-input color="secondary" type="email" placeholder="{{'PLACEHOLDER_EMAIL' | translate}}" formControlName="email"></ion-input>
    </ion-item>

    <ion-item class="animated fadeInUp">
      <ion-input color="secondary" type="password" placeholder="{{'PLACEHOLDER_PASSWORD' | translate}}" formControlName="password"></ion-input>
    </ion-item>

    <ion-item class="animated fadeInUp">
      <ion-input color="secondary" type="number" placeholder="{{'PLACEHOLDER_TELEFONO' | translate}}" formControlName="telefono"></ion-input>
    </ion-item>

    <ion-item class="animated fadeInUp">
      <ion-input color="secondary" type="email" placeholder="{{'PLACEHOLDER_CITTA' | translate}}" formControlName="citta"></ion-input>
    </ion-item>

    <ion-item class="animated fadeInUp">
      <ion-datetime placeholder="{{'PLACEHOLDER_DATA_NASCITA' | translate}}" formControlName="data"></ion-datetime>
    </ion-item>

    <ion-item class="animated fadeInUp">
      <ion-select placeholder="{{'PLACEHOLDER_SESSO' | translate}}" formControlName="sesso">
        <ion-select-option>
          M
        </ion-select-option>
        <ion-select-option>
          F
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button class="button3" expand="full" shape="round" color="primary" (click)="onRegister()" [disabled]="!registerFormModule.valid" tappable>
      <ion-icon name="person-add"></ion-icon>
      <ion-label>{{'BOTTONE_REGISTRATI' | translate}}</ion-label>
    </ion-button>

  </form>


</ion-content>
