<ion-header>
  <ion-toolbar>
    <ion-title>Recensione</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form align-items-center margin="medium" [formGroup]="reviewFormModule">

    <ion-item class="animated fadeInUp">
      <ion-icon color="primary" margin-end name="restaurant"></ion-icon>
      <ion-label>Cucina</ion-label>
      <ion-select formControlName="votoCucina">
        <ion-select-option *ngFor="let number of numbers">{{number}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="animated fadeInUp">
      <ion-icon color="primary" margin-end name="clock"></ion-icon>
      <ion-label>Servizio</ion-label>
      <ion-select formControlName="votoServizio">
        <ion-select-option *ngFor="let number of numbers">{{number}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="animated fadeInUp">
      <ion-icon color="primary" margin-end name="cash"></ion-icon>
      <ion-label>Prezzo</ion-label>
      <ion-select formControlName="votoPrezzo">
        <ion-select-option *ngFor="let number of numbers">{{number}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="animated fadeInUp">
      <ion-input class="review-item" color="secondary" placeholder="Descrivi la tua esperienza" formControlName="descrizione"></ion-input>
    </ion-item>

    <ion-button margin-top="medium" size="medium" expand="full" shape="round" color="primary" (click)="onReviewSubmit()" [disabled]="!reviewFormModule.valid" tappable>
      <ion-label>Pubblica Recensione</ion-label>
    </ion-button>

  </form>

</ion-content>
