<ion-tabs>
  <ion-tab-bar class="tabbar" slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{'TAB_HOME' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ricerca" >
      <ion-icon name="search"></ion-icon>
      <ion-label>{{'TAB_CERCA' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prenotazioni">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>{{'TAB_PRENOTAZIONI' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="preferiti">
      <ion-icon name="heart"></ion-icon>
      <ion-label>{{'TAB_PREFERITI' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profilo">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{'TAB_PROFILO' | translate}}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
