<ion-header>
  <ion-toolbar color="secondary" style="opacity: 90%">
    <ion-buttons slot="start">
      <ion-back-button >

      </ion-back-button>
    </ion-buttons>
    <ion-title>{{'TITOLO_PREFERENZE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="locationValue != null">
      <ion-label>{{'POSIZIONE_PREFERENZE' | translate}}</ion-label>
      <ion-toggle [(ngModel)]="locationValue" (ionChange)="setLocation()"></ion-toggle>
    </ion-item>

    <ion-item class="ion-margin-bottom animated fadeInUp">
      <ion-label>{{'LINGUA_PREFERENZE' | translate}}</ion-label>
      <ion-select placeholder="{{languageValue}}" (ionChange)="setLanguage($event)" value="{{selectValue}}">
        <ion-select-option value="it">{{'ITA_PREFERENZE' | translate}}</ion-select-option>
        <ion-select-option value="en">{{'EN_PREFERENZE' | translate}}</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>
</ion-content>
