<ion-header no-border no-shadow>
  <ion-toolbar color="primary" style="margin-bottom: -1px">

    <ion-button slot="start"  style="--box-shadow: none" color="primary" margin (click)="onLogoutButtonClick()">
      <ion-icon name="log-out" style="font-size: 24px" color="light"></ion-icon>
    </ion-button>
    <ion-title align="center">{{'TITOLO_PROFILO' | translate}}</ion-title>
    <!-- <ion-button slot="end" shape="round" margin color="light">
      <ion-icon name="settings" color="primary"></ion-icon>
    </ion-button> -->
    <ion-button slot="end"  style="--box-shadow: none" color="primary" margin [routerLink]="['preferenze']" routerDirection="forward">
      <ion-icon name="settings" style="font-size: 24px" color="light"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background: linear-gradient(#d21522, #b31642); padding: 10px" >
    <ion-row>
      <ion-col size="4">
      <ion-avatar style="width: 120px; height: 120px; border: 5px solid #037dff">
        <img *ngIf="utente.immagine != null" src='data:image/jpeg;base64,{{utente.immagine}}'/>
        <img  *ngIf="utente.immagine == null" src='assets/images/user-icon.jpg'  />
      </ion-avatar>
      </ion-col>
      <ion-col size="8" style="padding-top: 27px">
        <ion-label color="white" style="font-size:25px; font-weight:400; color:#fff;">{{utente.nome}} {{utente.cognome}}</ion-label><br>
        <ion-label color="white" style="font-size:15px; font-weight:400; color:#fff;">{{utente.email}}</ion-label>
      </ion-col>
    </ion-row>

  </div>
  <div>
    <ion-item lines="none">
      <ion-grid>
      <ion-row style="margin-top: 15px">
        <ion-col text-center>
          <ion-label style="font-size: 22px; margin-bottom: 5px" color="primary"><b>{{utente.punti}}</b></ion-label>
          <ion-label color="medium">Punti</ion-label>
        </ion-col>
        <ion-col text-center>
          <ion-label style="font-size: 22px; margin-bottom: 5px" color="primary"><b>{{numberPrenotazione}}</b></ion-label>
          <ion-label color="medium">Prenotazioni</ion-label>
        </ion-col>
      </ion-row>
        <ion-item-divider style="border-bottom-color: #9e133a; margin-top: -15px;"></ion-item-divider>
      </ion-grid>
    </ion-item>

    <ion-item class="ion-margin-top" lines="none">
      <ion-grid>
        <ion-row text-center>
          <ion-col size="1" text-start>
            <ion-icon name="contact" color="secondary" style="font-size:25px;"></ion-icon>
          </ion-col>
          <ion-col size="11" text-start>
            <ion-label style="font-size:18px; margin-top: 1px; margin-left: 12px"> {{utente.username}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row text-center>
          <ion-col size="1" text-end>
            <ion-icon name="calendar" color="secondary" style="font-size:25px;"></ion-icon>
          </ion-col>
          <ion-col size="11" text-start>
            <ion-label style="font-size:18px; margin-top: 3px; margin-left: 12px"> {{utente.nascita}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row text-center>
          <ion-col size="1" text-end>
            <ion-icon name="home" color="secondary" style="font-size:25px;"></ion-icon>
          </ion-col>
          <ion-col size="11" text-start>
            <ion-label style="font-size:18px; margin-top: 3px; margin-left: 12px"> {{utente.citta.nome}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row text-center>
          <ion-col size="1" text-end>
            <ion-icon name="male"  color="secondary" style="font-size:25px;"></ion-icon>
          </ion-col>
          <ion-col size="11" text-start>
            <ion-label style="font-size:18px; margin-top: 4px; margin-left: 12px"> {{utente.sesso}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
      <ion-row text-center>
        <ion-col size="1" text-end>
          <ion-icon name="call" color="secondary" style="font-size: 25px;"></ion-icon>
        </ion-col>
        <ion-col size="11" text-start>
          <ion-label style="font-size: 18px; margin-left: 12px"> {{utente.telefono}}</ion-label>
        </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </div>
  <div class="ion-margin" style="margin-top: 30px">
    <ion-button shape="round" expand="full" size="medium" [routerLink]="['mod-profilo']" routerDirection="forward">
      <ion-label>
        MODIFICA
      </ion-label>
    </ion-button>
  </div>
</ion-content>
