<ion-header>
  <ion-toolbar>

    <ion-button slot="start" shape="round" margin [routerLink]="['mod-profilo']" routerDirection="forward">
      <ion-icon name="create"></ion-icon>
    </ion-button>
    <ion-title>{{'TITOLO_PROFILO' | translate}}</ion-title>
    <ion-button slot="end" shape="round" margin [routerLink]="['preferenze']" routerDirection="forward">
      <ion-icon name="settings"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin-top">
    <ion-item lines="none" class="add-photo">
      <ion-img *ngIf="utente.immagine==null" src="assets/images/user-icon.jpg"></ion-img>
      <ion-img *ngIf="utente.immagine!=null" src='data:image/jpeg;base64, {{utente.immagine}}'></ion-img>
    </ion-item>
  </div>
  <div>
    <ion-item>
      <ion-label><b>Nome:</b> {{utente.nome}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>Cognome:</b> {{utente.cognome}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>Username:</b> {{utente.username}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>Email:</b> {{utente.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>Data di nascita:</b> {{utente.nascita}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>Città:</b> {{utente.citta.nome}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>Sesso:</b> {{utente.sesso}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>Telefono:</b> {{utente.telefono}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>Punti:</b> {{utente.punti}}</ion-label>
    </ion-item>
  </div>
  <div class="ion-margin">
    <ion-button shape="round" expand="full" size="medium" (click)="onLogoutButtonClick()">
      <ion-label>
        LOGOUT
      </ion-label>
    </ion-button>
  </div>
</ion-content>
