<ion-header no-border no-shadow>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="navigateHome()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="animated fadeIn">
    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo">

      </div>
    </div>

    <!-- Login form -->
    <form [formGroup]="loginFormModel" >
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon style="margin-right: 6px" name="contact"></ion-icon>{{'PLACEHOLDER_USERNAME' | translate}}</ion-label>
        <ion-input color="secondary" placeholder="{{'PLACEHOLDER_USERNAME' | translate}}" type="email" formControlName="username"></ion-input>
      </ion-item>
      <p *ngIf="loginFormModel.get('username').touched && loginFormModel.get('username').invalid">
        <ion-text color="danger">{{'USERNAME_RICHIESTO' | translate}}</ion-text>
      </p>
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon style="margin-right: 6px" name="lock"></ion-icon>{{'PLACEHOLDER_PASSWORD' | translate}}</ion-label>
        <ion-input color="secondary" placeholder="{{'PLACEHOLDER_PASSWORD' | translate}}" type="password" formControlName="password"></ion-input>
      </ion-item>
      <p *ngIf="loginFormModel.get('password').touched && loginFormModel.get('password').invalid">
        <ion-text color="danger">{{'PASSWORD_RICHIESTA' | translate}}</ion-text>
      </p>
      <div style="margin-top: 64px">
        <ion-button size="medium" expand="full" shape="round" color="primary"
                    (click)="onLogin()" [disabled]="!loginFormModel.valid" class="ion-tappable">
          <ion-icon style="margin-right: 6px" name="log-in"></ion-icon>
          {{'BOTTONE_LOGIN' | translate}}
        </ion-button>
      </div>
      <div margin-top="20px">
        <ion-button size="medium" expand="full" shape="round" color="primary"
                    [routerLink]="['registrazione']" routerDirection="forward">
          <ion-icon style="margin-right: 6px" name="person-add"></ion-icon>
          {{'BOTTONE_REGISTRATI' | translate}}
        </ion-button>
      </div>
    </form>
</ion-content>
