<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button >
      </ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="(ristorante$ | async) as ristorante">{{ristorante.nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(ristorante$ | async) as ristorante">
  <!-- carousel -->
  <div class="ion-margin-top ion-margin-end ion-margin-start">
    <ion-fab [hidden]="!isLoggedIn" id="heartButton">
        <ion-fab-button *ngIf="isFavourite" (click)="rimuoviPreferito(ristorante)">
            <ion-icon name="heart">

            </ion-icon>
        </ion-fab-button>
      <ion-fab-button *ngIf="!isFavourite" color="light" (click)="aggiungiPreferito(ristorante)">
        <ion-icon name="heart">

        </ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-slides class="ion-padding-bottom" pager="true">
      <ion-slide *ngFor="let immagine of ristorante.immagini " class="ion-padding-bottom">
        <ion-img src="data:image/jpeg;base64, {{immagine.file}}"></ion-img>
      </ion-slide>
    </ion-slides>
  </div>


  <!-- view selector -->
  <ion-segment value="info" [(ngModel)]="view">
    <ion-segment-button value="info">
      <ion-label>
        {{'DETTAGLI_INFO' | translate}}
      </ion-label>
      <ion-icon name="clock"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="reviews">
      <ion-icon name="thumbs-up"></ion-icon>
      <ion-label>
        {{'DETTAGLI_RECENSIONI' | translate}}
      </ion-label>
    </ion-segment-button>

    <ion-segment-button value="menu">
      <ion-label>
        {{'DETTAGLI_MENU' | translate}}
      </ion-label>
      <ion-icon name="restaurant"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="view">
    <div *ngSwitchCase="'info'">
      <ion-list class="detailsList">
        <ion-item>
          <ion-label><h1>{{ristorante.descrizione}}</h1></ion-label>
        </ion-item>

        <ion-item *ngIf="punteggio > 0">
          <ion-icon class="ion-margin-end" name="trophy"></ion-icon>
          <ion-label>{{punteggio}}</ion-label>
        </ion-item>

        <ion-item>
          <ion-icon class="ion-margin-end" name="pin"></ion-icon>
          <ion-label> {{ristorante.citta.nome}} - {{ristorante.indirizzo}}</ion-label>
        </ion-item>

        <ion-item>
          <ion-icon class="ion-margin-end" name="restaurant"></ion-icon>
          <ion-badge class="ion-margin-end" color="tertiary" *ngFor="let cate of ristorante.categorie"> {{cate.nome}}</ion-badge>
        </ion-item>

        <ion-item>
          <ion-icon class="ion-margin-end" name="logo-euro"></ion-icon>
          <ion-label>Spesa media: {{ristorante.prezzoMedio}} €</ion-label>
          <ion-label class="ion-float-end" color="tertiary" *ngIf="ristorante.sconto > 0">{{ristorante.sconto}}%</ion-label>
        </ion-item>


          <button class="collapsible" (click)="callF()">
            Orari
          </button>
          <div class="content">
            <div *ngFor="let giorno of giorni">
              <ion-item>
                <ion-label ><strong>{{giorno.charAt(0).toUpperCase() + giorno.substring(1)}}</strong></ion-label>
                <div *ngFor="let orario of ristorante.orari">
                  <ion-label *ngIf="orario.giorno == giorno">
                    {{orario.apertura}}<ion-text *ngIf="orario.apertura != 'Chiuso'">-</ion-text>{{orario.chiusura}}&nbsp;&nbsp;&nbsp;
                  </ion-label>
                </div>
              </ion-item>
            </div>
        </div>




          <ion-img class="ion-margin" src="assets/images/maps.jpg"></ion-img>

      </ion-list>
    </div>

    <div *ngSwitchCase="'menu'">
      <ion-list>
        <ion-list-header>
          <ion-title class="ion-text-center">{{'LABEL_ANTIPASTI' | translate}}</ion-title>
        </ion-list-header>
        <div *ngFor="let antipasto of ristorante.pietanze">
          <ion-item *ngIf="antipasto.tipologia == 'antipasto'">
            <ion-label>{{antipasto.nome}}</ion-label>
            <ion-label class="ion-text-end" >{{antipasto.prezzo}} €</ion-label>
          </ion-item>
        </div>

      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-title class="ion-text-center">{{'LABEL_PRIMI' | translate}}</ion-title>
        </ion-list-header>
        <div *ngFor="let primo of ristorante.pietanze">
          <ion-item *ngIf="primo.tipologia == 'primo'">
            <ion-label>{{primo.nome}}</ion-label>
            <ion-label class="ion-text-end">{{primo.prezzo}} €</ion-label>
          </ion-item>
        </div>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-title class="ion-text-center">{{'LABEL_SECONDI' | translate}}</ion-title>
        </ion-list-header>
        <div *ngFor="let secondo of ristorante.pietanze">
          <ion-item *ngIf="secondo.tipologia == 'secondo'">
            <ion-label>{{secondo.nome}}</ion-label>
            <ion-label class="ion-text-end">{{secondo.prezzo}} €</ion-label>
          </ion-item>
        </div>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-title class="ion-text-center">{{'LABEL_DESSERT' | translate}}</ion-title>
        </ion-list-header>
        <div *ngFor="let dessert of ristorante.pietanze">
          <ion-item *ngIf="dessert.tipologia == 'dessert'">
            <ion-label>{{dessert.nome}}</ion-label>
            <ion-label class="ion-text-end">{{dessert.prezzo}} €</ion-label>
          </ion-item>
        </div>
      </ion-list>
      <ion-list class="detailsList">
        <ion-list-header>
          <ion-title class="ion-text-center">{{'LABEL_BEVANDE' | translate}}</ion-title>
        </ion-list-header>
        <div *ngFor="let bevanda of ristorante.pietanze">
          <ion-item *ngIf="bevanda.tipologia == 'bevanda'">
            <ion-label>{{bevanda.nome}}</ion-label>
            <ion-label class="ion-text-end">{{bevanda.prezzo}} €</ion-label>
          </ion-item>
        </div>
      </ion-list>
    </div>

    <div *ngSwitchCase="'reviews'">
      <ion-list class="detailsList">
        <ion-list-header>
          <ion-grid>
            <ion-row class="ion-justify-content-between">
              <ion-col>
                <circle-progress subtitle="{{'LABEL_CUCINA' | translate}}"
                        [maxPercent]="100"
                        [title]=mediaCucina
                        [subtitleFontSize]="15"
                        [percent]=mediaCucina*10
                        [radius]="47"
                        [outerStrokeWidth]="4"
                        [innerStrokeWidth]="2"
                        [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="300" [showUnits]=false
                ></circle-progress>
              </ion-col>

              <ion-col>
                <circle-progress subtitle="{{'LABEL_SERVIZIO' | translate}}"
                                 [maxPercent]="100"
                                 [title]=mediaServizio
                                 [subtitleFontSize]="15"
                                 [percent]=mediaServizio*10
                                 [radius]="47"
                                 [outerStrokeWidth]="4"
                                 [innerStrokeWidth]="2"
                                 [outerStrokeColor]="'#78C000'"
                                 [innerStrokeColor]="'#C7E596'"
                                 [animation]="true"
                                 [animationDuration]="300" [showUnits]=false
                ></circle-progress>
              </ion-col>

              <ion-col>
                <circle-progress subtitle="{{'LABEL_PREZZO' | translate}}"
                                 [maxPercent]="100"
                                 [title]=mediaPrezzo
                                 [subtitleFontSize]="15"
                                 [percent]=mediaPrezzo*10
                                 [radius]="47"
                                 [outerStrokeWidth]="4"
                                 [innerStrokeWidth]="2"
                                 [outerStrokeColor]="'#78C000'"
                                 [innerStrokeColor]="'#C7E596'"
                                 [animation]="true"
                                 [animationDuration]="300" [showUnits]=false
                ></circle-progress>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list-header>

        <ion-item class="ion-text-center">
         <ion-label><ion-icon name="ios-chatbubbles"></ion-icon> {{ristorante.nome}} è stato recensito {{ristorante.recensioni.length}} volte </ion-label>
        </ion-item>

        <ion-item *ngFor="let recensione of ristorante.recensioni">

          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="data:image/jpeg;base64, {{recensione.utente.immagine}}"></ion-img>
            </ion-avatar>
            <ion-row>
              <ion-col class="ion-margin-top">
                 <ion-label><strong>{{recensione.utente.nome}} {{recensione.utente.cognome}}</strong></ion-label>
              </ion-col>
              <ion-col  class="ion-margin-top">
                <ion-label class="ion-float-right" color="medium" style="font-size: small">{{recensione.recensioneId.timestamp | date}}</ion-label>
              </ion-col>
              <ion-label color="tertiary" class="ion-margin-top">Cucina: {{recensione.votoCucina}} - Servizio: {{recensione.votoServizio}} - Prezzo: {{recensione.votoPrezzo}}</ion-label>
              <ion-text class="ion-margin-top ion-margin-bottom" style="font-style: italic">{{recensione.descrizione}}</ion-text>
            </ion-row>
          </ion-item>
        </ion-item>

      </ion-list>
    </div>

  </div>

  <ion-button class="fixedButton ion-tappable" shape="round" color="primary"
              [routerLink]="['prenota', ristorante.id]" routerDirection="forward">
    <ion-label>{{'BOTTONE_PRENOTA' | translate}}</ion-label>
  </ion-button>

</ion-content>
