<ion-header>
  <ion-toolbar>
    <ion-title>Nome Ristorante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- carousel -->
  <div margin>
    <ion-slides padding-bottom pager="true">
      <ion-slide padding-bottom>
        <ion-img src="assets/images/1.jpg"></ion-img>
      </ion-slide>
      <ion-slide padding-bottom>
        <ion-img src="assets/images/2.jpeg"></ion-img>
      </ion-slide>
    </ion-slides>
  </div>


  <!-- view selector -->
  <ion-segment value="info" [(ngModel)]="view">
    <ion-segment-button value="info">
      <ion-label>
        Info
      </ion-label>
      <ion-icon name="clock"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="menu">
      <ion-label>
        Menù
      </ion-label>
      <ion-icon name="restaurant"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="reviews">
      <ion-label>
        Recensioni
      </ion-label>
      <ion-icon name="thumbs-up"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="view">
    <div *ngSwitchCase="'info'">
      <ion-label>Informazioni</ion-label>
    </div>
    <div *ngSwitchCase="'menu'">
      <ion-label>Menù</ion-label>
    </div>
    <div *ngSwitchCase="'reviews'">
      <ion-label>Recensioni</ion-label>
    </div>
  </div>

</ion-content>
