<ion-header>
  <ion-toolbar>
    <ion-title>
      {{'TITOLO_RICERCA' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit1()">
    <ion-item>
      <ion-icon padding name="search"></ion-icon>
      <ion-input placeholder="{{'PLACEHOLDER_RICERCA_NOME' | translate}}" [(ngModel)]="value1" name="value1"></ion-input>
    </ion-item>
  </form>

  <form (ngSubmit)="onSubmit2()">
    <ion-item>
      <ion-icon padding name="pin"></ion-icon>
      <ion-input placeholder="{{'PLACEHOLDER_RICERCA_LUOGO' | translate}}" [(ngModel)]="value2" name="value2"></ion-input>
    </ion-item>
  </form>

  <ion-list>
    <ion-item *ngFor="let research of recentResearches" [routerLink]="['dettagli-ristorante']" routerDirection="forward">
      <ion-icon slot="start" name="sync"></ion-icon>
      <ion-label>{{research}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
