<ion-header>
  <ion-toolbar color="secondary" style="opacity: 90%">
    <ion-title>
      {{'TITOLO_HOME' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Categorie
  <ion-title class="ion-margin-top">{{'TITOLO_CATEGORIE' | translate}}</ion-title>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-segment scrollable>
              <ion-segment-button class="horizontalScroll" (click)="onCategoryClick(categoria.id)"
                                  *ngFor="let categoria of categorie$ | async">
                <ion-label>{{categoria.nome}}</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-col>
        </ion-row>
      </ion-grid> -->

  <ion-title class="ion-margin-top">{{'TITOLO_CATEGORIE' | translate}}</ion-title>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <div class="containerScroll">
          <div class="scroll" scrollX="true">
              <span *ngFor="let categoria of categorie$ | async" (click)="onCategoryClick(categoria.id)">
                <ion-chip color="primary" style="padding-left: 15px; padding-right: 15px; margin-right: 10px;">
                  <ion-label>{{categoria.nome}}</ion-label>
                </ion-chip>
              </span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Top Città
  <ion-title>{{'TITOLO_TOP_CITTA' | translate}}</ion-title>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-segment scrollable>
            <ion-segment-button class="horizontalScroll" *ngFor="let city of cities" value="{{city}}"
                                (click)="onCityClick(city)">
              <ion-label>{{city}}</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid> -->

  <ion-title class="ion-margin-top">{{'TITOLO_TOP_CITTA' | translate}}</ion-title>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <div class="containerScroll">
           <div class="scroll" scrollX="true">
              <span *ngFor="let city of cities" (click)="onCityClick(city)">
                <ion-chip color="primary" style="padding-left: 15px; padding-right: 15px; margin-right: 10px;">
                  <ion-label>{{city}}</ion-label>
                </ion-chip>
              </span>
           </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Nei Dintorni -->
  <ion-title class="ion-margin-top"><ion-label>{{'TITOLO_NEI_DINTORNI' | translate}}</ion-label>
  <ion-label *ngIf="ristoranti != null" class="ion-text-center ion-float-end" style="font-size: medium" (click)="showMore()" color="tertiary">{{'ALTRO' | translate}}</ion-label>
    <ion-label *ngIf="ristoranti == null" class="ion-text-center ion-float-end" style="font-size: medium" color="tertiary">{{'ALTRO' | translate}}</ion-label>
  </ion-title>

  <ion-list>
    <!-- Crescent -->
    <ion-label *ngIf="ristoranti == null">
      <ion-spinner name="crescent"></ion-spinner>
    </ion-label>

    <div *ngIf="ristoranti != undefined && ristoranti.length==0" class="ion-padding ion-text-center ion-margin">
      <ion-label class="ion-margin-top" style="font-size: 25px" color="medium">OPSS..</ion-label><br>
      <ion-label class="ion-margin-top" color="medium">In questa zona non sono presenti ristoranti</ion-label>
    </div>

    <div *ngIf="noLocation == true" class="ion-padding ion-text-center ion-margin">
      <ion-label class="ion-margin-top" style="font-size: 25px" color="medium">OPSS..</ion-label><br>
      <ion-label class="ion-margin-top" color="medium">{{'NO_LOCATION' | translate}}</ion-label>
    </div>

    <div *ngIf="ristoranti != null && locationValue">
      <ion-card class="ion-card" *ngFor="let ristorante of ristoranti | slice:0:10"
                [routerLink]="['dettagli-ristorante', ristorante.id]" routerDirection="forward"  >

        <ion-row>
          <ion-col>
            <ion-img src='data:image/jpeg;base64, {{ristorante.immagini[0].file}}' ></ion-img>
          </ion-col>
        </ion-row>

        <ion-card-title class="ion-margin-top">
          <ion-row>
            <ion-col>
              <ion-label class=" ion-margin-start ion-float-left">
                {{ristorante.nome}}
              </ion-label>
            </ion-col>
            <ion-col>
              <ion-label *ngIf="!ristorante.recensioni.length < 1" class="ion-margin-end ion-float-end" color="tertiary">
                {{calcolaMedie(ristorante.recensioni)}} <ion-label style="font-size: small; color: #989aa2">/10</ion-label>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-card-title>

        <ion-badge class="ion-margin-start ion-margin-top" color="primary" *ngFor="let cate of ristorante.categorie"> {{cate.nome}}</ion-badge>

        <ion-card-content>

          <ion-row>
            <ion-col size="8">
              <strong>{{ristorante.citta.nome}}</strong>, {{ristorante.indirizzo}}
            </ion-col>

            <ion-col size="4">
              <ion-label *ngIf="ristorante.sconto > 0" class="ion-float-end" color="secondary">{{ristorante.sconto}}% {{'SCONTO' | translate}}!</ion-label>
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>


</ion-content>
