<ion-header>
  <ion-toolbar>
    <ion-title>Preferiti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let favourite of favourites" [routerLink]="['dettagli-ristorante']" routerDirection="forward">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-img src="../../../assets/images/1.jpg"></ion-img>
          </ion-col>
        </ion-row>

        <ion-row align-items-center >
          <ion-col>
            {{favourite}}
          </ion-col>
          <ion-col>

          </ion-col>
          <ion-col>
            20%
          </ion-col>
        </ion-row>

        <ion-row align-items-center>
          <ion-col>
            Attributi
          </ion-col>

          <ion-col>
            Voto 9/10
          </ion-col>

          <ion-col size="6" >
            <ion-button class="button1" [routerLink]="['dettagli-ristorante']" routerDirection="forward">
              <ion-label>
                Dettagli
              </ion-label>
            </ion-button>
            <ion-button class="button1" [routerLink]="['prenota']" routerDirection="forward">
              <ion-label>
                Prenota
              </ion-label>
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>
