<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Modifica Profilo</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div margin-top>
    <ion-item margin lines="none" class="add-photo">
      <ion-img  src="assets/images/add-photo.png">

      </ion-img>
    </ion-item>
  </div>
  <div>
    <form [formGroup]="profileFormModule">
      <ion-item>
        <ion-input formControlName="nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="cognome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="telefono" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-datetime formControlName="data"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-select formControlName="sesso">
          <ion-select-option value="M">
            M
          </ion-select-option>
          <ion-select-option value="F">
            F
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button class="button3" size="medium" expand="full" shape="round" color="primary" (click)="onProfileSubmit()" [disabled]="!profileFormModule.valid" tappable>
        <ion-label>Conferma Modifiche</ion-label>
      </ion-button>
    </form>
  </div>


</ion-content>
