<ion-header>
  <ion-toolbar color="secondary" style="opacity: 90%">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'TITOLO_MODIFICA_PROFILO' | translate}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin-top">
    <ion-item lines="none" class="add-photo">
      <ion-img *ngIf="immagine==null" src="assets/images/add-photo.png" style="width: 120px; height: 120px" (click)="selectImage()">
      </ion-img>

      <ion-avatar *ngIf="immagine!=null" style="width: 120px; height: 120px; border: 5px solid #037dff">
        <img  src="data:image/jpeg;base64,{{immagine}}" (click)="selectImage()"/>
      </ion-avatar>

    </ion-item>
  </div>
  <div>
    <form [formGroup]="profileFormModule">
      <ion-item class="ion-margin-bottom animated fadeInUp">
        <ion-icon color="primary" class="ion-margin-end" name="contact"></ion-icon>
        <ion-input placeholder="{{'PLACEHOLDER_NOME' | translate}}" formControlName="nome"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom animated fadeInUp">
        <ion-icon color="primary" class="ion-margin-end" name="person"></ion-icon>
        <ion-input placeholder="{{'PLACEHOLDER_COGNOME' | translate}}" formControlName="cognome"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom animated fadeInUp">
        <ion-icon color="primary" class="ion-margin-end" name="man"></ion-icon>
        <ion-input placeholder="{{'PLACEHOLDER_USERNAME' | translate}}" formControlName="username"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom animated fadeInUp">
        <ion-icon color="primary" class="ion-margin-end" name="mail"></ion-icon>
        <ion-input placeholder="{{'PLACEHOLDER_EMAIL' | translate}}" formControlName="email"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom animated fadeInUp">
        <ion-icon color="primary" class="ion-margin-end" name="lock"></ion-icon>
        <ion-input placeholder="{{'PLACEHOLDER_NUOVA_PW' | translate}}" type="password" formControlName="nuovaPassword"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom animated fadeInUp">
        <ion-icon color="primary" class="ion-margin-end" name="call"></ion-icon>
        <ion-input placeholder="{{'PLACEHOLDER_TELEFONO' | translate}}" formControlName="telefono" type="number"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom animated fadeInUp">
        <ion-icon color="primary" class="ion-margin-end" name="home"></ion-icon>
        <ion-input placeholder="{{'PLACEHOLDER_CITTA' | translate}}" formControlName="citta"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom animated fadeInUp">
        <ion-icon color="primary" class="ion-margin-end" name="calendar"></ion-icon>
        <ion-datetime
                monthShortNames="gen, feb, mar, apr, mag, giu, lug, ago, set, ott, nov, dic"
                placeholder="{{'PLACEHOLDER_DATA_NASCITA' | translate}}" formControlName="data"></ion-datetime>
      </ion-item>

      <ion-item class="ion-margin-bottom animated fadeInUp">
        <ion-icon color="primary" class="ion-margin-end" name="male"></ion-icon>
        <ion-select placeholder="{{'PLACEHOLDER_SESSO' | translate}}" formControlName="sesso">
          <ion-select-option value="M">
            M
          </ion-select-option>
          <ion-select-option value="F">
            F
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div class="ion-margin">
        <ion-button size="medium" expand="full" shape="round" color="primary"
                    (click)="onProfileSubmit()" [disabled]="!profileFormModule.valid" class="ion-tappable">
          <ion-label>{{'BOTTONE_SALVA' | translate}}</ion-label>
        </ion-button>
      </div>
    </form>
  </div>


</ion-content>
