<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'TITOLO_MODIFICA_PROFILO' | translate}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin-top">
    <ion-item margin lines="none" class="add-photo">
      <ion-img  src="data:image/jpeg;base64, {{utente.immagine}}">

      </ion-img>
    </ion-item>
  </div>
  <div>
    <form [formGroup]="profileFormModule">
      <ion-item>
        <ion-input placeholder="Nome" formControlName="nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Cognome" formControlName="cognome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Username" formControlName="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Nuova Password" type="password" formControlName="nuovaPassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Telefono" formControlName="telefono" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Città" formControlName="citta"></ion-input>
      </ion-item>
      <ion-item>
        <ion-datetime placeholder="Data di nascita" formControlName="data"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-select placeholder="Sesso" formControlName="sesso">
          <ion-select-option value="M">
            M
          </ion-select-option>
          <ion-select-option value="F">
            F
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div class="ion-margin">
        <ion-button size="medium" expand="full" shape="round" color="primary"
                    (click)="onProfileSubmit()" [disabled]="!profileFormModule.valid" class="ion-tappable">
          <ion-label>{{'BOTTONE_SALVA' | translate}}</ion-label>
        </ion-button>
      </div>
    </form>
  </div>


</ion-content>
