// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.horizontalScroll {
  margin-right: 8px;
  --indicator-color-checked: #FFFFFF;
  color: var(--ion-color-medium);
}

.ion-card {
  box-shadow: 0 3px 10px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.detailsDiv {
  background-color: var(--ion-color-medium);
}

.add-photo {
  margin: 0 auto;
  width: 150px;
  height: 150px;
}

.rounded {
  width: 100%;
  height: 40px;
  -webkit-border-radius: 20px;
  border-style: solid;
  border-color: #f4f5f8;
}

.logo {
  width: 200px;
  height: 250px;
  margin: 20px auto 8px;
  border-radius: 10%;
  background: url("/assets/images/logo.png") no-repeat;background-size: 100%;
}

.button1 {
  width: 150px;
  height: 30px;
  font-size: small;
}

.button2 {
  margin-left: 250px;
  height: 30px;
  font-size: x-small;
  width: 25%;
}

.button3 {
  position: absolute;
  bottom: 18px;
  left: 5%;
  right: 5%;
}

.fixedButton {
  position:fixed;
  bottom: 10px;
  right: 20px;
  left: 20px
}

.detailsList {
  margin-bottom: 50px;
}

.collapsible {
  background-color: transparent;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 17px;
}

.collapsible:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: transparent;
}

#heartButton {
  position:absolute;
  right: 10px;
  top: 185px;
  button {
    color: red;
  };
}

ion-spinner {
  display: block;
  margin: auto;
  width: 50px !important;
  height: 50px !important;
  margin-top: 10px;
}

.containerScroll {
  overflow: hidden;
  white-space: nowrap;
  ::-webkit-scrollbar {
    display: none;
  }
  .scroll {
    overflow: auto;
  }
}

.wrapper {
  width: 330px;
  font-family: 'Helvetica';
  font-size: 14px;
}

.StepProgress {
  position: relative;
  padding-left: 45px;
  list-style: none;

  &::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 10px;
    height: 93%;
    border-left: 2px solid #CCC;
  }

  &-item {
    position: relative;
    counter-increment: list;

    &:not(:last-child) {
      padding-bottom: 20px;
    }

    &::before {
      display: inline-block;
      content: '';
      position: absolute;
      left: -30px;
      height: 100%;
      width: 10px;
    }

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: -37px;
      width: 12px;
      height: 12px;
      border: 2px solid #CCC;
      border-radius: 50%;
      background-color: #FFF;
    }

    &.is-done {
      &::before {
        border-left: 2px solid green;
      }
      &::after {
        content: "✔";
        font-size: 10px;
        color: #FFF;
        text-align: center;
        border: 2px solid green;
        background-color: green;
      }
    }

    &.is-done-last {
      &::before {
        border-left: 2px solid green;
        height: 0;
      }
      &::after {
        content: "✔";
        font-size: 10px;
        color: #FFF;
        text-align: center;
        border: 2px solid green;
        background-color: green;
      }
    }

    &.current {
      &::before {
      }

      &::after {
        content: counter(list);
        padding-top: 1px;
        width: 19px;
        height: 18px;
        top: -4px;
        left: -40px;
        font-size: 14px;
        text-align: center;
        color: green;
        border: 2px solid green;
        background-color: white;
      }
    }
  }
}
