// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.horizontalScroll {
  margin-right: 8px;
  --indicator-color-checked: #FFFFFF;
  color: var(--ion-color-medium);
}

.detailsDiv {
  background-color: var(--ion-color-medium);
}

.add-photo {
  margin: 0 auto;
  width: 150px;
  height: 150px;
}

.rounded {
  width: 100%;
  height: 40px;
  -webkit-border-radius: 20px;
  border-style: solid;
  border-color: #f4f5f8;
}

.logo {
  width: 150px;
  height: 200px;
  margin: 20px auto 8px;
  border-radius: 10%;
  background: url("/assets/images/logo.png") no-repeat;background-size: 100%;
}

.button1 {
  width: 150px;
  height: 30px;
  font-size: small;
}

.button2 {
  margin-left: 250px;
  height: 30px;
  font-size: x-small;
  width: 25%;
}

.button3 {
  position: absolute;
  bottom: 18px;
  left: 5%;
  right: 5%;
}

.fixedButton {
  position:fixed;
  bottom: 10px;
  right: 20px;
  left: 20px
}

.detailsList {
  margin-bottom: 50px;
}

.collapsible {
  background-color: transparent;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 17px;
}

.collapsible:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: transparent;
}

#heartButton {
  position:absolute;
  right: 10px;
  top: 185px;
  button {
    color: red;
  };
}

ion-spinner {
  display: block;
  margin: auto;
  width: 50px !important;
  height: 50px !important;
  margin-top: 10px;
}
