// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.horizontalScroll {
  --indicator-color-checked: #FFFFFF;
  color: var(--ion-color-medium);
}

.detailsDiv {
  background-color: var(--ion-color-medium);
}

.add-photo {
  padding-top: 18px;
  margin: 0 auto;
  width: 180px;
  height: 180px;
  border-style: solid;
  border-color: #86888f;
  border-radius: 10px;
}

.rounded {
  width: 100%;
  height: 40px;
  -webkit-border-radius: 20px;
  border-style: solid;
  border-color: #f4f5f8;
}

.logo {
  width: 150px;
  height: 200px;
  margin: 20px auto 8px;
  border-radius: 10%;
  background: url("/assets/images/logo.png") no-repeat;background-size: 100%;
}

.button1 {
  width: 47%;
  height: 20px;
  font-size: x-small;
}

.button2 {
  margin-left: 250px;
  height: 30px;
  font-size: x-small;
  width: 25%;
}

.button3 {
  position: absolute;
  bottom: 18px;
  left: 5%;
  right: 5%;
}

